# Python
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Alembic cache
alembic/**/__pycache__/


#claude file 
CLAUDE.md